<!DOCTYPE html>
<html>

<head>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% /* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <% /* <meta name="robots" content="noindex"> */%>

      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!--STYLES-->
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->
      <title>traino</title>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <% if(req.session.user || req.session.personaltrainer){ %>
        <% if(req.session.user){ %>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">traino</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <% if(req.session.user.membership){ %>
              <li><a href="/user/plan">Plan</a></li>
              <li> <a href="/user/personalTrainer">Entrenador</a></li>
              <% } %>
              <li><a href="/user/info">
                  <%= req.session.user.fullName %>
                </a></li>
              <li><a href="/user/logout">Salir</a></li>
            </ul>
          </div>
          <% }else{ %>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">traino</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li> <a href="/personaltrainer/plan">Crear Plan</a></li>
                <li><a href="/personaltrainer/info">
                    <%= req.session.personaltrainer.fullName%>
                  </a></li>
                <li><a href="/personaltrainer/logout">Salir</a></li>
              </ul>
            </div>
            <%}%>
        <% }else{ %>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">traino</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/user/login">Iniciar Sesión</a></li>
              <li><a href="/user/register">Registrarse</a></li>
            </ul>
          </div>
          <% } %>
    </nav>
  </div>

  <% if(req.path=="/user/info" || req.path=="/personaltrainer/info" ){ %>
    <main id="infoImage">
      <%- body %>
    </main>
    <% }else{ %>
      <main>
        <%- body %>
      </main>
      <% } %>
        <!--SCRIPTS-->
        <script src="/dependencies/sails.io.js"></script>
        <script src="/js/pages/membership/create.page.js"></script>
        <script src="/js/pages/personaltrainer/info.page.js"></script>
        <script src="/js/pages/personaltrainer/register.page.js"></script>
        <script src="/js/pages/user/info.page.js"></script>
        <script src="/js/pages/user/infop.page.js"></script>
        <script src="/js/pages/user/infp.page.js"></script>
        <script src="/js/pages/user/register.page.js"></script>
        <!--SCRIPTS END-->
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">traino</h5>
                <p class="grey-text text-lighten-4">Tu rutina en un solo lugar</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <!-- <h5 class="white-text">Acceso</h5> -->
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              © 2021 traino
            </div>
          </div>
        </footer>

        <% if (req.session.personaltrainer) { %>
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
              <i class="large material-icons">add</i>
            </a>
            <ul>
              <li><a class="btn-floating green tooltipped" data-tooltip="Nuevo plan" data-position="left"
                  data-delay="50" href = "/personaltrainer/plan" ><i class="material-icons">create_new_folder</i></a></li>
              <li><a class="btn-floating blue tooltipped" data-tooltip="Nueva membresia" data-position="left"
                  data-delay="50" href="/membership/create"><i class="material-icons">control_point</i></a></li>
            </ul>
          </div>
          <% } %>
</body>

</html>

<script>
  $(document).ready(function () {
    $('.fixed-action-btn').floatingActionButton();
  });

  $(".tooltipped").tooltip();
</script>

<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #infoImage {
    background-image: url("https://cdn.shopify.com/s/files/1/0550/7153/9361/t/4/assets/pf-0d71c141--VF-Home-Parallax.png?v=1614867594");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imgnav {
    width: 30%;
    margin-left: 10px;
    margin-top: 2.5px;
  }
</style>
