<div class="row">
    <form action="/personaltrainer/createPlan/<%= userId %>" method="post">
        <div class="col s3"></div>
        <div class="input-field col s6">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Crear Ejercicio</span>
                            <input placeholder="Nombre Ejercicio" name="nombre" type="text">
                            <input placeholder="Descripcion" name="descripcion" type="text">
                            <input placeholder="Link Imagen" name="imagen" type="text">
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit">
                                Crear Ejercicio
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
    </form>
</div>
