<div class = "content">
    <% for(let i of allUsers){ %>
        <div>
            <%= i.fullName %>
            <% if(i.exercises){ %>
                Con Rutina
            <% }else{ %>
                <a href="/createPlan/<%= i.id %>">Crear Rutina</a>
            <% } %>
        </div>
    <% } %>
</div>
