<div class="row">
  <div class="col s3">
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Registro - Personal Trainer</span>
        <div class ="row">
          <div class="col s6">
          <input placeholder="Nombre" name="name" type="text" class="validate">
        </div>
        <div class="col s6">
          <input placeholder="Apellido" name="last_name" type="text" class="validate">
        </div>
        </div>
        <input placeholder="DNI" name="dni" type="number" class="validate">
          <input placeholder="E-mail" name="email" type="text" class="validate">
          <input placeholder="Fecha de nacimiento" type="text" name="birth_date" class="datepicker">
          <input placeholder="Telefono" name="contact_phone" type="number" class="validate">
          <input placeholder="Contraseña" name="password" type="password" class="validate">
          <input placeholder="Validar Contraseña" name="confirm_password" type="password" class="validate">
      </div>
      <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit">
            Registrarse
            <i class="material-icons right">send</i>
          </button>
      </div>
    </div>
  </div>
  <div class="col s3">
  </div>
</div>
</div>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
