<div class = "content">
    <div class="row">
        <div class= "col s4"></div>
        <div class="col s8">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-content">
                        <h5>Nombre Usuario</h5>
                        <div class="divider"></div>
                        <p>
                            <%= user.fullName %>
                        </p>
                        <h5>Altura Usuario</h5>
                        <div class="divider"></div>
                        <p>
                            <%= user.height %>
                        </p>
                        <h5>Peso Usuario</h5>
                        <div class="divider"></div>
                        <p>
                            <%= user.weight %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class= "col s4"></div>
    </div>
</div>
