<div class = "content">
    <div>
        Nombre Usuario:
        <%= user.fullName %>
    </div>
    <div>
        Altura Usuario:
        <%= user.height %>
    </div>
    <div>
        Peso Usuario:
        <%= user.weight %>
    </div>
</div>
