<div id="create" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/membership/create.less</em>, <em>assets/js/pages/membership/create.page.js</em>, and <em>api/controllers/membership/view-create.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
