<div class = "content">
    <% for(let i of allPersonalTrainers){ %>
        <div>
            <%= i.fullName %>
            <% if(req.session.user.personalTrainer == i.id){ %>
                Actual
            <% }else{ %>
                <a href="/selectPersonalTrainer/<%= i.id %>">Seleccionar</a>
            <% } %>
        </div>
    <% } %>
</div>
