<div class = "content">
        <% for(let i of allExercises){ %>
                <div>
                    <%= i.name %>
                </div>
                <div>
                    <%= i.description %>
                </div>
        <% } %>
</div>
