<div class="row" >
    <div class="col s12">
        <div class= "carousel carousel-slider" id="carusel" >
            <div class="carousel-fixed-item center">
                <% if(req.session.user == null && req.session.personaltrainer == null){ %>
                    <a href="/user/register" class="btn waves-effect white grey-text darken-text-2">Registrate!</a>
                <%}%>
            </div>
            <div class="carousel-item red white-text" href="#one!">
                <img
                    src="https://i1.wp.com/americanhealthandfitness.com.mx/wp-content/uploads/2020/07/COVID-19-GYM-6-scaled.jpg?fit=2560%2C1918&ssl=1">
                <h2>Planes Personalizados</h2>
            </div>
            <div class="carousel-item amber white-text" href="#two!">
                <img
                    src="https://i0.wp.com/www.oinkoink.com.mx/wp-content/uploads/2020/09/danielle-cerullo-CQfNt66ttZM-unsplash-e1600450160417.jpg?resize=1200%2C720&ssl=1">
                <h2>Entrenadores de primer nivel</h2>
            </div>
            <div class="carousel-item green white-text" href="#three!">
                <img
                    src="https://www.servicegym.com.ar/wp-content/uploads/2019/05/Gym-Servicegym-fitness-accesorios-e1560265330695.jpg">
                <h2>Rutinas nuevas todos los meses</h2>
            </div>
            <div class="carousel-item blue white-text" href="#four!">
                <img
                src="https://api.time.com/wp-content/uploads/2020/03/gym-coronavirus.jpg">
                <h2>Membresias al mejor precio</h2>
            </div>
        </div>
    </div>
    <div class="col s12"></div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons"style="font-size: xx-large;">fitness_center</i></h2>
                        <h5 class="center">Entrenamientos</h5>
                        <p class="light"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et ligula posuere, iaculis ante sed, rutrum justo. Fusce vitae faucibus massa.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons"style="font-size: xx-large;">restaurant</i></h2>
                        <h5 class="center">Nutricion</h5>
                        <p class="light"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et ligula posuere, iaculis ante sed, rutrum justo. Fusce vitae faucibus massa. Pellentesque sit amet tortor non justo tempor tempor. Sed vel ligula sed erat aliquam hendrerit. In eget justo in odio pharetra posuere ut in ante. Fusce augue nunc, fringilla quis pretium ac, sollicitudin et justo.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons"style="font-size: xx-large;">lightbulb_outline</i></h2>
                        <h5 class="center">Consejos</h5>
                        <p class="light"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et ligula posuere, iaculis ante sed, rutrum justo. Fusce vitae faucibus massa. Pellentesque sit amet tortor non justo tempor tempor. Sed vel ligula sed erat aliquam hendrerit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 center">
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <h4>Porque elegir TRAINO</h4>
                        <p class="left-align light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et ligula posuere,
                            iaculis ante sed, rutrum justo. Fusce vitae faucibus massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer et ligula posuere, iaculis ante sed, rutrum justo. Fusce vitae faucibus massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer et ligula posuere, iaculis ante sed, rutrum justo. Fusce vitae faucibus massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer et ligula posuere, iaculis ante sed, rutrum justo. Fusce vitae faucibus massa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating green tooltipped" data-tooltip="Nuevo plan" data-position="left" data-delay="50"><i class="material-icons">create_new_folder</i></a></li>
      <li><a class="btn-floating blue tooltipped" data-tooltip="Nueva membresia" data-position="left" data-delay="50" href="/membership/create"><i class="material-icons">control_point</i></a></li>
    </ul>
  </div>

<script>
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
    });

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });

  $(".tooltipped").tooltip();
</script>

<style>
    img {
        width: 100%;
        aspect-ratio: 5/4;
    }
    #carusel{
        padding: 0;
        width: 100%;
    }
</style>
